@import "styles/main.module.scss";

.container {
    display: flex;
    justify-content: center;

    form {
        padding: 1.5rem;
        margin-top: 5rem;
        width: 25rem;
        background-color: $color-gray;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .title {
            text-align: center;
            margin-bottom: 1rem;
        }

        .inputWrapper {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            label {
                font-size: 0.8rem;
            }

            input {
                border: 0.1rem solid $color-black;
                padding: 0.5rem;
                border-radius: 0.5rem;
            }

            button {
                background-color: $color-primary;
                padding: 1rem;
                border-radius: 0.8rem;
            }
        }
    }
}
