/*Global styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #FFFFFF;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 1.5rem;
}
body::-webkit-scrollbar-track {
  background-color: #1c1c1c;
  border-radius: 1.5rem;
}
body::-webkit-scrollbar-thumb {
  background-color: #505050;
  border-radius: 1.5rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
}

input, textarea {
  background-color: transparent;
  outline: none;
  border: none;
  color: #FFFFFF;
}

/*Defining what is the size of REM*/
@media only screen and (max-width: 1550px) {
  html {
      /* 1rem = 12.8px, (16*80)/100 = 12.8 */
      font-size: 80%;
  }
}

@media only screen and (max-width: 1200px) {
  html {
      /* 1rem = 11.2px, (16*70)/100 = 11.2 */
      font-size: 70%;
  }
}

@media only screen and (max-width: 900px) {
  html {
      /* 1rem = 9.6px, (16*60)/100 = 9.6 */
      font-size: 60%;
  }
}

@media only screen and (max-width: 768px) {
  html {
      /* 1rem = 16px, (16*100)/100 = 16 */
      font-size: 100%;
  }
}