@import "styles/main.module.scss";

.container {
    border: 0.2rem solid $color-gray;
    border-radius: 1rem;
    width: 40rem;
    margin: 2rem auto 0rem auto;
    display: flex;

    .userWrapper {
        position: relative;
        display: flex;
        padding: 1rem;

        img {
            width: 10rem;
            height: 10rem;
            object-fit: cover;
            border-radius: 50%;
        }

        svg {
            width: 10rem;
            height: 10rem;
        }

        .uploadIcon {
            position: absolute;
            bottom: 2rem;
            right: 2rem;

            svg {
                width: 1.5rem;
                height: 1.5rem;
                cursor: pointer;

                path {
                    fill: $color-primary;
                }
            }
        }
    }

    .userInfo {
        padding: 1rem;
        width: 100%;

        .profileInfo {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
}

.actionButtons {
    width: 40rem;
    margin: 1rem auto;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

    button {
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        &:first-child {
            border: 0.1rem solid $color-primary;
        }
         &:last-child {
           background-color: $color-primary;
        }
    }
}
