@import "styles/main.module.scss";

.container {
    border: 0.1rem solid $color-gray;
    border-radius: 1rem;
    overflow: hidden;
    width: 40rem;
    min-height: 10rem;
    display: grid;
    grid-template-columns: 12rem 28rem;

    .imageContainer {
        background-color: $color-black;
        @include centerElement;
    }

    .infoContainer {
        padding: 0.7rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5rem;

        h4 {
            text-align: center;
        }

        .editTitleInput {
            border: 0.1rem solid $color-gray;
            width: 15rem;
            margin: 0 auto;
            padding: 0.2rem 0.7rem;
            border-radius: 0.5rem;

            &.error {
                border: 0.1rem solid red;
            }
        }

        .description {
            height: 100%;

            textarea {
                resize: none;
                border: 0.1rem solid $color-gray;
                border-radius: 0.5rem;
                width: 100%;
                height: 100%;
                padding: 0.2rem 0.7rem;
                @include smallScrollbar;

                &.error {
                    border: 0.1rem solid red;
                }
            }
        }

        .footer {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .actionButtonsWrapper {
                display: flex;
                align-items: center;
                gap: 2rem;

                .editWrapper {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    cursor: pointer;
                    svg {
                        width: 1.6rem;
                        height: 1.6rem;
                        path {
                            fill: orange;
                        }
                    }
                }

                .deleteWrapper {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    cursor: pointer;
                    svg {
                        width: 2rem;
                        height: 2rem;
                        path {
                            stroke: red;
                        }
                    }
                }
            }

            .completed {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                cursor: pointer;

                .uncheckedWrapper {
                    svg {
                        width: 2rem;
                        height: 2rem;

                        path {
                            stroke: $color-primary;
                        }
                    }
                }

                .checkedWrapper {
                    svg {
                        width: 2rem;
                        height: 2rem;

                        path {
                            fill: $color-primary;
                        }
                    }
                }
            }
        }
    }
}

.actionButtons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

    button {
        background-color: $color-gray;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
    }

    .confirmButton {
        background-color: $color-primary;
    }
} 
