@import "styles/main.module.scss";

.container {
    border: 0.1rem solid $color-gray;
    border-radius: 1rem;
    overflow: hidden;
    width: 40rem;
    height: 10rem;
    display: grid;
    grid-template-columns: 12rem 28rem;

    .imageContainer {
        background-color: $color-black;
        @include centerElement;
    }

    .infoContainer {
        padding: 0.7rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5rem;

        h4 {
            text-align: center;
        }

        .description {
            height: 100%;
        }

        .footer {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .actionButtonsWrapper {
                display: flex;
                gap: 2rem;

                .editWrapper {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    cursor: pointer;
                    svg {
                        width: 1.6rem;
                        height: 1.6rem;
                        path {
                            fill: orange;
                        }
                    }
                }

                .deleteWrapper {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    cursor: pointer;
                    svg {
                        width: 2rem;
                        height: 2rem;
                        path {
                            stroke: red;
                        }
                    }
                }
            }

            .completed {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                .uncheckedWrapper {
                    svg {
                        width: 2rem;
                        height: 2rem;
                        cursor: pointer;

                        path {
                            stroke: $color-primary;
                        }
                    }
                }

                .checkedWrapper {
                    svg {
                        width: 2rem;
                        height: 2rem;
                        cursor: pointer;

                        path {
                            fill: $color-primary;
                        }
                    }
                }
            }
        }
    }
}
