@import "styles/main.module.scss";

.container {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        margin-bottom: 5rem;
        h1 {
            font-size: 1.5rem;
        }

        button {
            display: flex;
            align-items: center;
            gap: 1rem;
            background-color: $color-primary;
            padding: 0.3rem 1rem;
            border-radius: 0.5rem;
            font-size: 1rem;

            svg {
                width: 1.5rem;
                height: 2rem;
                transform: rotate(180deg);
                
                path {
                    stroke: $color-white;
                }
            }
        }
    }
}
